

body {
  margin:0;
  padding:0;
  font-family: "Open Sans", sans-serif;
}



input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}


#transfer-wrapper{
    height: 1462px;
    background: url(../images/transfer.png) no-repeat top center;
    position: relative;
}

.transfer-button{
    position: absolute;
    top:300px;
    left:50%;
    margin-left:-380px;
    width:370px;
    height:52px;
    border:0;
    background-color: #55B636;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    border-radius:4px;
}
.transfer-button:hover{
    background-color:#017157;
    cursor: pointer;
}

.transfer-badge {
    position: absolute;
    top:217px;
    left:50%;
    margin-left:-173px;
    width:100px;
    height:22px;
    border:0;
    background-color: #1791D7;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    border-radius:4px;
}
