
#transfer-wrapper{
    height: 1462px;
    background: url(images/transfer.png) no-repeat top center;
    position: relative;
}


.transfer-button{
    position: absolute;
    top:300px;
    left:50%;
    margin-left:-380px;
    width:350px;
    height:53px;
    border:0;
    background-color: #55B636;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    border-radius:4px;
}
.transfer-button:hover{
    background-color:#017157;
    cursor: pointer;
}


.transfer-badge {
    position: absolute;
    top:215px;
    left:50%;
    margin-left:-320px;
    width:300px;
    height:27px;
    border:0;
    background-color: #F0F0F0;
    color: #333333;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    border-radius:4px;
}

.transfer-login-badge {
    position: absolute;
    top:31px;
    left:50%;
    margin-left:175px;
    width:245px;
    height:25px;
    border:0;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    border-radius:4px;
}
